<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments::headImport"></head>
<title>sw - Blogs</title>
<body id="mobile_wrap">
<div class="pages">
    <div data-page="blog" class="page no-toolbar no-navbar">
        <div class="page-content">

            <div th:insert="fragments::top"></div>

            <div id="pages_maincontent">

                <h2 class="page_title">精品文章<a href="/index" class="backtoPages"><img
                        src="/images/icons/black/back.png" class="backtoImg" alt="" title=""/></a></h2>
                <div class="page_single layout_fullwidth_padding">
                    <div th:insert="fragments::message"></div>
                    <div class="posts">
                        <div th:insert="fragments::isEmpty"></div>
                        <!--图片-->
                        <div class="post_entry" th:each="blog,blogStat : ${blogsDto.elements}">
                            <!--图片显示在左边-->
                            <div class="post_thumb" th:if="${blogStat.index%2==0}">
                                <a th:href="@{/article/blog(blogId=${blog.id})}">
                                    <img src="/images/blog/sifangCover.jpg" alt="" title=""/>
                                </a>
                                <div class="post_thumb_details">
                                    <!--收藏图标-->
                                    <!--<a href="#" class="open-popup" data-popup=".popup-social"><img-->
                                    <!--src="/images/icons/white/love.png" alt="" title=""/></a>-->
                                </div>
                            </div>
                            <!--文章细节-->
                            <div class="post_details">
                                <div class="post_category">
                                    <a th:href="@{/article/blog(blogId=${blog.id})}" class="bgred"
                                       th:text="${blog.type}"></a>
                                </div>
                                <h2>
                                    <a th:href="@{/article/blog(blogId=${blog.id})}" th:text="${blog.title}"></a>
                                </h2>
                                <p th:text="${blog.brief}"></p>
                            </div>
                            <!--图片显示在右边-->
                            <div class="post_thumb" th:if="${blogStat.index%2==1}">
                                <a th:href="@{/article/blog(blogId=${blog.id})}">
                                    <img src="/images/blog/sifangCover.jpg" alt="" title=""/>
                                </a>
                                <div class="post_thumb_details">
                                    <!--<a href="#" class="open-popup" data-popup=".popup-social"><img-->
                                    <!--src="/images/icons/white/love.png" alt="" title=""/></a>-->
                                </div>
                            </div>

                        </div>
                    </div>
                    <div th:class="${blogsDto.elements.size()<=2?'blogs-footer':'blogs-footer-full'}">
                        <a th:href="${blogsDto.prePageUrl}" th:class="${blogsDto.prePageUrl=='#'?'disabled':''}"
                           style="float: left">&nbsp;&nbsp;上一页</a>
                        <a th:href="${blogsDto.aftPageUrl}" th:class="${blogsDto.aftPageUrl=='#'?'disabled':''}"
                           style="float: right">下一页&nbsp;&nbsp;</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>