<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png"/>
    <link href="/images/apple-touch-startup-image-320x460.png" media="(device-width: 320px)"
          rel="apple-touch-startup-image">
    <link href="/images/apple-touch-startup-image-640x920.png"
          media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <link rel="stylesheet" href="/css/framework7.css">
    <link rel="stylesheet" href="/css/style.css">
    <link type="text/css" rel="stylesheet" href="/css/swipebox.css"/>
    <link type="text/css" rel="stylesheet" href="/css/animations.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">
    <meta charset="UTF-8">
    <title>sw -Forget Password</title>
</head>
<body>

<!-- Forgot Password Popup -->
<!--<div class="popup popup-forgot">-->
<div class="content-block">
    <h4 align="center">忘记密码</h4>
    <div class="loginform">
        <form id="ForgotForm" method="post" action="/user/forgetPassword">
            <input type="email" name="email" th:value="${user!=null?user.email:null}"
                   required="required"
                   class="form_input required"
                   placeholder="邮箱"/>
            <input type="submit" name="submit" class="form_submit" id="submit" value="发送密码"/>
        </form>
        <div th:insert="messages :: message"></div>
        <div class="signup_bottom">
            <p>检查你的邮箱来获取忘记的密码</p>
        </div>
    </div>
    <div class="close_popup_button">
        <a href="/page/login" class="close-popup"><img src="/images/icons/black/menu_close.png" alt="" title=""/></a>
    </div>
</div>
<!--</div>-->