<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments::headImport"></head>
<title>sw -Forget Password</title>
<body>

<!-- Forgot Password Popup -->
<!--<div class="popup popup-forgot">-->
<div class="content-block">
    <h4 align="center">忘记密码</h4>
    <div class="loginform">
        <form id="ForgotForm" method="post" action="/user/forgetPassword">
            <input type="email" name="email" th:value="${user!=null?user.email:null}"
                   required="required"
                   class="form_input required"
                   placeholder="邮箱"/>
            <input type="submit" name="submit" class="form_submit" id="submit" value="发送密码"/>
        </form>
        <div th:insert="fragments :: message"></div>
        <div class="signup_bottom">
            <p>检查你的邮箱来获取忘记的密码</p>
        </div>
    </div>
    <div class="close_popup_button">
        <a href="/page/login" class="close-popup"><img src="/images/icons/black/menu_close.png" alt="" title=""/></a>
    </div>
</div>
<!--</div>-->
</body>
</html>