<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments::headImport"></head>
<title>sw -Login</title>
<body>

<!-- Login Popup -->
<!--<div class="popup popup-login">-->
<div class="content-block">
    <h4 align="center">登录</h4>
    <div class="loginform">
        <form id="LoginForm" method="post" action="/user/login">
            <input type="number" name="account" th:value="${account}!=null?${account}:'123456789'" minlength="10" maxlength="20"
                   class="form_input required" required="required"
                   placeholder="账号"/>
            <input type="password" name="password" th:value="${password}?${password}:'123456789'" minlength="8" maxlength="20"
                   class="form_input required"
                   required="required"
                   placeholder="密码"/>
            <div class="forgot_pass"><a href="/page/forgetPassword" data-popup=".popup-forgot"
                                        class="open-popup">忘记密码?</a>
            </div>
            <input type="submit" name="submit" class="form_submit" id="login_submit" value="登录"/>
        </form>
        <div class="signup_bottom">
            <p>没有账号?</p>
            <a href="/page/register" data-popup=".popup-signup" class="open-popup">注册</a>
        </div>
        <div th:insert="fragments :: message"></div>
    </div>
    <div class="close_popup_button">
        <a href="/index" class="close-popup"><img src="/images/icons/black/menu_close.png" alt="" title=""/></a>
    </div>
</div>
<!--</div>-->
</body>
</html>
