<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--被引用的片段-->
<body>
<div th:fragment="message">
    <p style="color:#ff2e19; size:30px;" th:text="${errorMessage}"></p>
    <p style="color:#4fb330; size:30px;" th:text="${successMessage}"></p>
    <p style="color:#ecef23; size:30px;" th:text="${warnMessage}"></p>
</div>

<div class="navbarpages" th:fragment="top">
    <div class="navbar_left">
        <div class="logo_text"><a href="/index">
            <span>[[${#servletContext.getAttribute('teamPre')}]]</span>
            [[${#servletContext.getAttribute('teamAft')}]]</a>
        </div>
    </div>
    <!--<a href="#" data-panel="left" class="open-panel">-->
    <!--<div class="navbar_right"><img src="/images/icons/black/my.png" alt="" title=""/></div>-->
    <!--</a>-->
</div>
</body>
</html>