<!DOCTYPE html>
<!--主页-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png"/>
    <link href="/images/apple-touch-startup-image-320x460.png" media="(device-width: 320px)"
          rel="apple-touch-startup-image">
    <link href="/images/apple-touch-startup-image-640x920.png"
          media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <title>sw - index</title>
    <link rel="stylesheet" href="/css/framework7.css">
    <link rel="stylesheet" href="/css/style.css">
    <link type="text/css" rel="stylesheet" href="/css/swipebox.css"/>
    <link type="text/css" rel="stylesheet" href="/css/animations.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">
</head>
<body id="mobile_wrap">

<div class="statusbar-overlay"></div>

<div class="panel-overlay"></div>

<div class="panel panel-left panel-reveal">
    <nav class="sidebar-nav">
        <ul>
            <li><a href="/page/courses" class="close-panel">
                <img src="/images/icons/white/video.png" alt="" title=""/><span>教程</span></a>
            </li>

            <li><a href="/page/photos" class="close-panel">
                <img src="/images/icons/white/photos.png" alt="" title=""/><span>壁纸</span></a>
            </li>

            <li><a href="/page/musics" class="close-panel">
                <img src="/images/icons/white/music.png" alt="" title=""/><span>音乐</span></a>
            </li>

            <li><a href="/page/articles" class="close-panel">
                <img src="/images/icons/white/article.png" alt="" title=""/><span>精品文章</span></a>
            </li>

            <li><a href="/page/shop" class="close-panel">
                <img src="/images/icons/white/shop.png" alt="" title=""/><span>商店</span></a>
            </li>

            <li><a href="/page/cart" class="close-panel">
                <img src="/images/icons/white/cart.png" alt="" title=""/><span>购物车</span></a>
            </li>

            <li><a href="/page/toggle" class="close-panel">
                <img src="/images/icons/white/toggle.png" alt="" title=""/><span>今日训练</span></a>
            </li>

            <li><a href="/page/summarize" class="close-panel">
                <img src="/images/icons/white/tabs.png" alt="" title=""/><span>训练总结</span></a>
            </li>

            <li><a href="#" data-panel="right" class="open-panel">
                <img src="/images/icons/white/home.png" alt="" title=""/><span>我的</span></a>
            </li>

            <li><a href="/page/user/loginPage" class="close-panel">
                <img src="/images/icons/white/lock.png" alt="" title=""/><span>登录</span></a>
            </li>

            <li><a href="/page/setting" class="close-panel"><img src="/images/icons/white/features.png" alt=""
                                                                 title=""/><span>设置</span></a>
            </li>

            <li><a href="/page/about" class="close-panel"><img src="/images/icons/white/mobile.png" alt=""
                                                               title=""/><span>关于我们</span></a>
            </li>

            <li><a href="/page/contact" class="close-panel"><img src="/images/icons/white/contact.png" alt=""
                                                                 title=""/><span>联系我们</span></a>
            </li>

        </ul>
    </nav>
</div>

<div class="panel panel-right panel-reveal">
    <!--个人页面-->
    <div class="user_login_info">

        <div class="user_thumb">
            <div class="user_avatar"><img src="/images/avatar.jpg" alt="" title=""/></div>
            <div class="user_details">
                <p>Welcome <span>Yan </span></p>
            </div>
            <div class="user_social">
                <ul>
                    <li><a href="http://twitter.com/" class="external"><img src="/images/icons/white/twitter.png" alt=""
                                                                            title=""/></a></li>
                    <li><a href="http://www.facebook.com/" class="external"><img src="/images/icons/white/facebook.png"
                                                                                 alt="" title=""/></a></li>
                    <li><a href="http://plus.google.com/" class="external"><img src="/images/icons/white/gplus.png"
                                                                                alt="" title=""/></a></li>
                </ul>
            </div>
        </div>

        <nav class="user-nav">
            <ul>
                <li><a href="features.html" class="close-panel"><img src="/images/icons/white/settings.png" alt=""
                                                                     title=""/><span>Account Settings</span></a></li>
                <li><a href="features.html" class="close-panel"><img src="/images/icons/white/briefcase.png" alt=""
                                                                     title=""/><span>My Account</span></a></li>
                <li><a href="features.html" class="close-panel"><img src="/images/icons/white/message.png" alt=""
                                                                     title=""/><span>Messages</span><strong>12</strong></a>
                </li>
                <li><a href="features.html" class="close-panel"><img src="/images/icons/white/love.png" alt=""
                                                                     title=""/><span>Favorites</span><strong>5</strong></a>
                </li>
                <li><a href="index.html" class="close-panel"><img src="/images/icons/white/lock.png" alt=""
                                                                  title=""/><span>Logout</span></a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="views">

    <div class="view view-main">
        <div class="pages">
            <div data-page="index" class="page homepage">
                <div class="page-content homepagecontent">
                    <div class="homenavbar">
                        <h1><span>sw</span>sifang</h1>
                        <a href="#" data-panel="left" class="open-panel">
                            <div class="navbar_right"><img src="/images/icons/white/menu.png" alt="" title=""/></div>
                        </a>
                    </div>

                    <!-- Slider -->
                    <div class="swiper-container swiper-init" data-effect="slide" data-parallax="true"
                         data-pagination=".swiper-pagination" data-paginationClickable="true">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <img src="/images/slider/s1.jpg" alt="" title=""/>
                                <div class="slider-caption">
                                    <h2 data-swiper-parallax="-100%">street workout</h2>
                                    <span class="subtitle" data-swiper-parallax="-60%">community</span>
                                    <p data-swiper-parallax="-30%">你可以在这里找到大神的教程与优秀的团队,
                                        也可以通过商店买到心仪的商品.</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="/images/slider/s2.jpg" alt="" title=""/>
                            </div>
                            <div class="swiper-slide">
                                <img src="/images/slider/s3.jpg" alt="" title=""/>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>

                    <nav class="main-nav">
                        <ul>
                            <li><a href="/page/teams"><img src="/images/icons/white/users.png" alt=""
                                                           title=""/><span>团队</span></a></li>

                            <li><a href="/page/login"><img src="/images/icons/white/lock.png" alt=""
                                                           title=""/><span>登录</span></a></li>

                            <li><a href="/page/superiors"><img src="/images/icons/white/user.png" alt=""
                                                               title=""/><span>大神</span></a></li>

                            <li><a href="/page/articles"><img src="/images/icons/white/article.png" alt=""
                                                              title=""/><span>精品文章</span></a>
                            </li>
                            <li><a href="/page/photos"><img src="/images/icons/white/photos.png" alt=""
                                                            title=""/><span>壁纸</span></a>
                            </li>
                            <li><a href="/page/courses"><img src="/images/icons/white/video.png" alt=""
                                                             title=""/><span>教程</span></a>
                            </li>
                            <li><a href="/page/shop"><img src="/images/icons/white/shop.png" alt=""
                                                          title=""/><span>商店</span></a></li>
                            <li><a href="/page/setting"><img src="/images/icons/white/settings.png" alt=""
                                                             title=""/><span>设置</span></a></li>

                            <li><a href="/page/cart"><img src="/images/icons/white/cart.png" alt=""
                                                          title=""/><span>购物车</span></a></li>

                            <li><a href="#" data-popup=".popup-social" class="open-popup"><img
                                    src="/images/icons/white/twitter.png" alt="" title=""/><span>分享</span></a></li>

                            <li><a href="#" data-panel="right" class="open-panel"><img
                                    src="/images/icons/white/home.png" alt="" title=""/><span>我的</span></a></li>

                            <li><a href="/page/contact"><img src="/images/icons/white/contact.png" alt=""
                                                             title=""/><span>联系我们</span></a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Social Icons Popup -->
<div class="popup popup-social">
    <div class="content-block">
        <h4>Social Share</h4>
        <p>Share icons solution that allows you share and increase your social popularity.</p>
        <ul class="social_share">
            <li><a href="http://twitter.com/" class="external"><img src="/images/icons/black/twitter.png" alt=""
                                                                    title=""/><span>TWITTER</span></a></li>
            <li><a href="http://www.facebook.com/" class="external"><img src="/images/icons/black/facebook.png" alt=""
                                                                         title=""/><span>FACEBOOK</span></a></li>
            <li><a href="http://plus.google.com/" class="external"><img src="/images/icons/black/gplus.png" alt=""
                                                                        title=""/><span>GOOGLE</span></a></li>
            <li><a href="http://www.dribbble.com/" class="external"><img src="/images/icons/black/dribbble.png" alt=""
                                                                         title=""/><span>DRIBBBLE</span></a></li>
            <li><a href="http://www.linkedin.com/" class="external"><img src="/images/icons/black/linkedin.png" alt=""
                                                                         title=""/><span>LINKEDIN</span></a></li>
            <li><a href="http://www.pinterest.com/" class="external"><img src="/images/icons/black/pinterest.png" alt=""
                                                                          title=""/><span>PINTEREST</span></a></li>
        </ul>
        <div class="close_popup_button"><a href="#" class="close-popup"><img src="/images/icons/black/menu_close.png"
                                                                             alt="" title=""/></a></div>
    </div>
</div>

<script type="text/javascript" src="/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/js/framework7.js"></script>
<script type="text/javascript" src="/js/jquery.swipebox.js"></script>
<script type="text/javascript" src="/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="/js/email.js"></script>
<script type="text/javascript" src="/js/audio.min.js"></script>
<script type="text/javascript" src="/js/my-app.js"></script>
</body>
</html>
