<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments::headImport"></head>
<title>sw - Target</title>
<body id="mobile_wrap">
<div class="pages">
    <div data-page="tabs" class="page no-toolbar no-navbar">
        <div class="page-content">

            <div th:insert="fragments::top"></div>
            <div id="pages_maincontent">

                <h2 class="page_title">训练目标</h2>

                <div class="page_single layout_fullwidth_padding">

                    <div class="buttons-row">
                        <a href="#tab1" class="tab-link active button">推力</a>
                        <a href="#tab2" class="tab-link button">拉力</a>
                    </div>

                    <div class="tabs-animated-wrap">
                        <div class="tabs">
                            <div id="tab1" class="tab active">
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                    veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                                    voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                                    magni dolores eos qui ratione voluptatem sequi nesciunt.
                                </p>
                            </div>

                            <div id="tab2" class="tab">
                                <p>
                                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                                    consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Sed ut
                                    perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                    architecto beatae vitae dicta sunt explicabo.
                                </p>
                            </div>
                        </div>
                    </div>


                    <h3 class="target-h3">短期目标</h3>

                    <div class="buttons-row">
                        <a href="#tab3" class="tab-link active button">小目标1</a>
                        <a href="#tab4" class="tab-link button">小目标2</a>
                        <a href="#tab5" class="tab-link button">小目标3</a>
                    </div>

                    <div class="tabs-simple">
                        <div class="tabs">
                            <div id="tab3" class="tab active">
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                    veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                                    voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                                    magni dolores eos qui ratione voluptatem sequi nesciunt.
                                </p>
                            </div>

                            <div id="tab4" class="tab">
                                <p>
                                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                                    consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Sed ut
                                    perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                    architecto beatae vitae dicta sunt explicabo.
                                </p>
                            </div>

                            <div id="tab5" class="tab">
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium Nemo enim
                                    ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                                    consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Sed ut
                                    perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                    architecto beatae vitae dicta sunt explicabo.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
