<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments::headImport"></head>
<title>sw - About</title>
<body id="mobile_wrap">
<div class="pages">
    <div data-page="about" class="page no-toolbar no-navbar">
        <div class="page-content">

            <div th:insert="fragments::top"></div>

            <div id="pages_maincontent">

                <h2 class="page_title">关于</h2>

                <div class="page_single layout_fullwidth_padding">

                    <blockquote>
                        <p>街头极限健身（Street Workout）属于极限运动的一种，街头文化的一部分，也被称为“街头健身”、“街头户外健身”、“街健”等。
                            主要以社区健身器材锻炼，追求极限身体能力。 大致分为极限单双杠和极限俯卧撑。虽称之为街头户外但运动地点并无限制，
                            在家中、街道到随处可以找到的公园空地，利用随手可得的器械（公园健身器械或栏杆），以坚持不懈的努力来改进身体和精神力量，
                            也被称为“游戏锻炼”。
                        </p>
                        <span>SIFANG.SW</span>
                    </blockquote>

                    <br>

                    <h4>网站功能:</h4>
                    <br>
                    <ul class="simple_list">
                        <li>登录</li>
                        <li>注册</li>
                        <li>联系我们</li>
                        <li>每日计划</li>
                        <li>开发中......</li>
                    </ul>

                    <a href="/page/index" class="button_full">开始探索</a>
                    <p align="center">©2020-2099 Bo Y. All Rights Reserved.</p>
                </div>

            </div>


        </div>
    </div>
</div>
</body>
</html>