<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments::headImport"></head>
<title>sw - SendUs</title>
<body id="mobile_wrap">
<div class="pages">
    <div data-page="videos" class="page no-toolbar no-navbar">
        <div class="page-content">

            <div th:insert="fragments::top"></div>

            <div id="pages_maincontent">

                <h2 class="page_title">SendUs</h2>

                <div class="page_single layout_fullwidth_padding">

                    <div class="sendUs">
                        <h3 class="page_subtitle">Working at Envato</h3>
                        <div class="videocontainer">
                            <p>你们做的不好,真垃圾</p>
                        </div>
                        <a class="button_small sendUs-button">删除</a>
                    </div>

                </div>

                <div class="pages-footer">
                    <a href="#" class="disabled"
                       style="float: left">&nbsp;&nbsp;上一页</a>
                    <a href="#" class="disabled"
                       style="float: right">下一页&nbsp;&nbsp;</a>
                </div>
            </div>


        </div>
    </div>
</div>
</body>
</html>