<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments::headImport"></head>
<title>sw - SendUs</title>
<body id="mobile_wrap">
<div class="pages">
    <div class="page no-toolbar no-navbar">
        <div class="page-content">

            <div th:insert="fragments::top"></div>

            <div id="pages_maincontent">

                <h2 class="page_title">SendUs</h2>

                <div class="page_single layout_fullwidth_padding">

                    <div th:each="sendUs,sendUsStat: ${sendUsDto.elements}">
                        <div th:class="${sendUsStat.index==0}?'sendUs':'sendUs-supper'">
                            <h3 class="page_subtitle" th:text="${sendUs.name}">Working at Envato</h3>
                            <div class="videocontainer">
                                <p th:text="${sendUs.content}">你们做的不好,真垃圾</p>
                            </div>
                            <a class="button_small sendUs-button" th:href="@{/us/deleteSendUs(id=${sendUs.id})}">删除</a>
                        </div>
                    </div>

                </div>

                <div class="pages-footer">
                    <a th:href="${sendUsDto.prePageUrl}" th:class="${sendUsDto.prePageUrl=='#'?'disabled':''}"
                       style="float: left">&nbsp;&nbsp;上一页</a>
                    <a th:href="${sendUsDto.aftPageUrl}" th:class="${sendUsDto.aftPageUrl=='#'?'disabled':''}"
                       style="float: right">下一页&nbsp;&nbsp;</a>
                </div>
            </div>


        </div>
    </div>
</div>
</body>
</html>