<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments::headImport"></head>
<title>sw - Cart</title>
<body id="mobile_wrap">
<div class="pages">
    <div class="page no-toolbar no-navbar">
        <div class="page-content">

            <div th:insert="fragments::top"></div>
            <div id="pages_maincontent">

                <h2 class="page_title">购物车<a class="shop-cart" href="/shop/goodsList">商店</a></h2>

                <div class="page_single layout_fullwidth_padding">

                    <div class="cartcontainer">
                        <div>
                            <div th:insert="fragments :: message"></div>
                        </div>
                        <div class="cart_item" id="cartitem1" th:each="goodsExp,goodStat :${cartDto.goodsExps}">
                            <div class="item_title"><span th:text="${goodStat.index+1+'.'}"></span>
                                [[${goodsExp.goods.name}]]
                            </div>
                            <div th:id="${goodsExp.goods.id}" class="item_price" th:text="'￥'+${goodsExp.price}">$100
                            </div>
                            <div class="item_thumb"><a th:href="@{/shop/goods(id=${goodsExp.goods.id})}"
                                                       class="close-panel"><img
                                    th:src="'/images/photos/'+${goodsExp.goods.reveal}+'.jpg'" alt="" title=""/></a>
                            </div>
                            <div class="item_qnty">
                                <form id="myform" method="POST" action="#" style="margin-top: 15%">
                                    <label>数量</label>
                                    <input type="text" name="quantity" th:value="${goodsExp.num}"
                                           class="qnty" hidden="hidden"/>
                                    <p th:text="${goodsExp.num}" style="margin-left: 20%"></p>
                                </form>
                            </div>
                            <a th:href="@{deleteCart(cartId=${goodsExp.cartId})}" class="item_delete"><img
                                    src="/images/icons/black/trash.png"
                                    alt="" title=""/></a></div>

                        <div class="carttotal">
                            <div class="carttotal_row">
                                <div class="carttotal_left">原价</div>
                                <div class="carttotal_right" th:text="${cartDto.oldTotalPrice}">$ 1,320.00</div>
                            </div>
                            <div class="carttotal_row">
                                <div class="carttotal_left">立减</div>
                                <div class="carttotal_right" th:text="${cartDto.save}">$ 198.00</div>
                            </div>
                            <div class="carttotal_row_last">
                                <div class="carttotal_left">现价</div>
                                <div class="carttotal_right" th:text="${cartDto.newTotalPrice}">$ 1,518.00</div>
                            </div>
                        </div>
                        <a href="#" class="button_full btyellow disabled">暂不支持购买操作</a>

                    </div>
                </div>

            </div>


        </div>
    </div>
</div>
</body>
</html>
